<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Bill Sharing</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <main ui-view>
      <h2>Hello {{name}}</h2>
      <button ng-click="sayHello()">Click to make api request.</button>
      <p>{{response}}</p>
    </main>

    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-resource.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/lb-services.js"></script>
    <script src="js/controllers/indexController.js"></script>
  </body>
</html>
