<h1>Add Bill</h1>
Bill Amount <br />
<input ng-model="bill.amount" type="text" />
<br />
<br />
Add people <br />
<select ng-model="bill.peoples" multiple>
  <option ng-repeat="account in accounts" value="{{account.id}}">{{account.firstname}} {{account.lastname}}</option>
</select>
<br />
<br />
Share amount <br />
<div ng-repeat="people in bill.peoples">user id : {{people}}<input ng-model="bill.share[people]" type="text" value="" />&nbsp;</div>
<br />
<br />
Group <br />
<select ng-model="bill.group">
  <option ng-repeat="group in groups" value="{{group.id}}" ng-model="bill.groupId">{{group.name}}</option>
</select>
<br />
<br />
<br />
<br />
<button ng-click="submit()" name="Submit">Submit Bill</button>
